<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Активация аккаунта</title>
      <style type="text/css">
     body {
     background: #191970;
     }
     h1 {
    font-size: 300%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333366;
    text-align: center;
    padding: 15%;
    color: black;


   }
   </style>

</head>
<body>

<h1>Спасибо что зарегистрировались на нашем онлайн магазине! Будем рады помочь вам! Теперь вы зарегистрировались</h1>
</body>
</html>
